.container {
  flex: 1;
  width: 100%;
  max-width: 720px;

  display: flex;
  flex-direction: column;

  form {
    margin: auto;
    padding: 8px;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 90%;

    input {
      font-weight: 600;
      color: var(--brown);

      background: rgba(255, 255, 255, 0.42);

      border: 1px solid rgba(157, 164, 166, 0.07);
      border-radius: 4px;

      padding: 0.4rem;
      height: 48px;
    }

    textarea {
      resize: none;
      font-weight: 600;
      color: var(--brown);

      background: rgba(255, 255, 255, 0.42);
      border: 1px solid rgba(157, 164, 166, 0.07);
      border-radius: 4px;

      padding: 0.4rem;
      min-height: 300px;
    }

    button {
      margin: auto;
    }
  }
}
