.container {
  margin: auto;

  font-weight: 600;
  color: var(--white);

  background-color: var(--brown);

  border: none;
  padding: 1rem;

  width: 100%;
  max-width: 260px;

  border-radius: 2rem;
}
