.container {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
