.container {
  width: 100%;
  max-width: 720px;

  display: grid;
  gap: 2rem 0;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr auto;

  grid-template-areas: 'img img' 'title link' 'form form';

  a:first-child {
    grid-area: img;
    img {
      width: 16rem;
      margin-bottom: 4.5rem;
    }
  }

  h1 {
    grid-area: title;
    color: var(--brown);
    font-weight: 400;
    font-size: 2.2rem;
    width: max-content;
  }

  > a.signin {
    font-size: 1rem;
    grid-area: link;
    color: var(--brown);
    font-weight: 600;
    text-decoration: underline;
    margin: auto auto 8px;

    text-align: right;
  }
}

.formContent {
  grid-area: form;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  .inputContainer {
    display: flex;
    background: var(--white);
    position: relative;

    border: 1px solid rgba(157, 164, 166, 0.07);
    border-radius: 4px;

    padding: 0.4rem 0.6rem 0.2rem;
    height: 40px;

    & + .inputContainer {
      margin-top: 1rem;
    }

    label {
      position: absolute;
      top: 50%;

      color: var(--brown);
      font-weight: 600;

      transform: translate(0, -50%);
      transition: top 0.2s, font-size 0.2s;
    }

    input {
      z-index: 1;

      font-size: 1rem;
      color: var(--brown);
      font-weight: 300;

      width: 100%;
      margin-top: auto;
      background: transparent;
      border: none;

      &:focus,
      &:not([value='']) {
        outline: none;
        + label {
          font-weight: 400;
          color: var(--gray);
          font-size: 0.75rem;
          top: 28%;
        }
      }
    }
  }

  a {
    margin: auto 0 auto auto;
    font-size: 1.1rem;
    text-decoration: underline;
    color: var(--brown);
  }

  button {
    margin: auto;
    margin-top: 2rem;
  }
}
